body {
    height: 3000px;
    font-family: "Raleway", sans-serif;
    margin: 0;
    
}

ul {
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    position: relative;
    height: calc(100vh - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-image: url('https://cagefree.opencages.com.ua/_nuxt/img/header-new.2e569a9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header::after {
    content: "";
    position: absolute;
    background: #0c3632;
    opacity: .85;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
}

.nav {
    position: absolute;
    width: calc(100% - 40px);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    height: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li {
    padding: 0 10px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.nav-list-link {
    position: relative;
    transition: all .25s ease;
}

.nav-list-link::after {
    content: "";
    background: #17baaa;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
    transform: scalex(0);
    transition: all .25s ease;
}

.nav-list-link:hover {
    color: #17baaa  ;
}

.nav-list-link:hover::after {
    transform: scalex(1);
}

.nav-list li:last-of-type {
    padding-right: 0;
}

.nav-list li:last-of-type a {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0px 10px;
    background-color: #dd3d53;
    border-radius: 3px;
    font-size: 12px;
    transition: all .25s ease;
    }

.heart-icon {
    margin-right: 5px;
}

.nav-list li:last-of-type a:hover {
    background-color: #c9233a;
    }

.nav-list li:last-of-type a svg {
    width: 1em; 
    height: 1em;
    }

.nav-toggle {
    font-size: 3rem;
    color: #fff;
}

.nav-toggle {
    display: none;
}

.burger-icon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -0.125em;
    cursor: pointer;
    fill: white;
}

.header-content {
    margin: auto 0;
    position: relative;
    z-index: 1;
}

.header-content-title {
    font-size: 56px;
    color: white;
    line-height: 84px;
}

.header-content-title-green {
    color: #17baaa;
}

.header-content-btn {
    display: block;
    background: #17baaa;
    color: #fff;
    font-size: .875rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    max-width: 100%;
    min-height: 40px;
    transition: all .25 ease;
}

.header-content-btn:hover {
    background-color: #129185;
}
 
@media screen and (max-width: 992px) {
    .nav-list {
        display: none;
    }
    .nav-toggle {
        display: block;
    }
    
}
